<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISightingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://h2381303.stratoserver.net:8081/SightingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISightingService"
                contract="Web.ISightingService" name="BasicHttpBinding_ISightingService" />
        </client>
    </system.serviceModel>
</configuration>