<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>$(SolutionDir)\deploy\Sighting.Services.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Sighting Web Site</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GeodataEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=h2381303.stratoserver.net;Initial Catalog=Geodata;Persist Security Info=True;User ID=sightingservice;Password=sightingservice;Application Name=EntityFramework" Name="Data Source=h2381303.stratoserver.net;Initial Catalog=Geodata;Persist Security Info=True;User ID=sightingservice;Password=sightingservice;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sighting.Services.GeodataEntities, Sighting.Services" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GeodataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SightingsModel.csdl|res://*/SightingsModel.ssdl|res://*/SightingsModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=h2381303.stratoserver.net;Initial Catalog=Geodata;Persist Security Info=True;User ID=sightingservice;Password=sightingservice;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>