<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFeatureService" />
        <binding name="BasicHttpBinding_IFolderService" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpBinding_IFolderService" />
      </webHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://localhost/FeatureServer/FeatureService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeatureService"
        contract="FeatureService.IFeatureService" name="BasicHttpBinding_IFeatureService" />
      <endpoint address="http://localhost/FeatureServer/FolderService.svc/rest/services"
        behaviorConfiguration="restfulBehavior" binding="webHttpBinding"
        bindingConfiguration="WebHttpBinding_IFolderService" contract="FolderService.IFolderService"
        name="WebHttpBinding_IFolderService" />
      <endpoint address="http://localhost/FeatureServer/FolderService.svc/folder/services"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFolderService"
        contract="FolderService.IFolderService" name="BasicHttpBinding_IFolderService" />
    </client>
  </system.serviceModel>
</configuration>