<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFeatureService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/FeatureServer/FeatureService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeatureService"
                contract="FeatureService.IFeatureService" name="BasicHttpBinding_IFeatureService" />
        </client>
    </system.serviceModel>
</configuration>